@import "tailwindcss";
@layer base {
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px lightgray inset !important; /* Match your bg */
    -webkit-text-fill-color: white !important;
  }

  label {
    background-color: rgb(32, 47, 75);
    color: white;
  }

  
}
